################################
# Build outputs (STM32 / GCC)
################################
**/Debug/
**/Release/
**/*.o
**/*.d
**/*.elf
**/*.map
**/*.lst
**/*.su

################################
# CMake
################################
**/build/
**/cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/cmake_install.cmake
**/install_manifest.txt
**/compile_commands.json

################################
# Qt Creator and IDEs
################################
**/*.pro.user
**/*.pro.user.*
**/.qtc_clangd/
**/.idea/
**/.vscode/
**/*.swp
**/*.swo

################################
# Compiled binaries and libraries
################################
**/*.obj
**/*.so
**/*.dll
**/*.dylib
**/*.a
**/*.lib
**/*.exe
**/Lebowski

################################
# STM32CubeIDE / Eclipse
################################
**/.metadata/
**/.mxproject
**/.settings/org.eclipse.*

################################
# MATLAB
################################
**/slprj/
**/*.asv
**/*.slxc
**/*~
**/*.slx.original
**/*.slx.autosave
**/codegen/
**/*_ert_rtw/
**/*_grt_rtw/

# furkan çaldım knk
KiCad/.history/
